/* 

Ce fichier est à lire à vos risques et perils.
Nombreux sont ceux qui s'y sont aventuré, peu sont ceux revenus indemne.

Toute ressemblance à quelquonque classe bootstrap est purement fortuite.

*/

/* DIV SIZING */

.w-fill, .fill {
	width: 100vw;
}

.h-fill, .fill {
	height: 100vh;
}

.h100 {
	height: 100%;
}

.h80 {
	height: 80%;
}

.h60 {
	height: 60%;
}

.w100 {
	width: 100%;
}

.full {
	width: 100%;
	height: 100%;
}

.w10 {
	width: 10%;
}
.w20 {
	width: 20%;
}
.w30 {
	width: 30%;
}
.w40 {
	width: 40%;
}
.w50 {
	width: 50%;
}
.w60 {
	width: 60%;
}
.w70 {
	width: 70%;
}
.w80 {
	width: 80%;
}
.w90 {
	width: 90%;
}
.w100 {
	width: 100%;
}

/* PADDING SIZES */

.pt-5 {
	padding-top: 5em;
}

.pt-4 {
	padding-top: 4em;
}

.pt-3 {
	padding-top: 3em;
}

.pt-2 {
	padding-top: 2em;
}

.pt-1 {
	padding-top: 1em;
}

.pb-5 {
	padding-bottom: 5em;
}

.pb-4 {
	padding-bottom: 4em;
}

.pb-3 {
	padding-bottom: 3em;
}

.pb-2 {
	padding-bottom: 2em;
}

.pb-1 {
	padding-bottom: 1em;
}

.pl-5 {
	padding-left: 5em;
}

.pl-4 {
	padding-left: 4em;
}

.pl-3 {
	padding-left: 3em;
}

.pl-2 {
	padding-left: 2em;
}

.pl-1 {
	padding-left: 1em;
}

.pr-5 {
	padding-right: 5em;
}

.pr-4 {
	padding-right: 4em;
}

.pr-3 {
	padding-right: 3em;
}

.pr-2 {
	padding-right: 2em;
}

.pr-1 {
	padding-right: 1em;
}

.p-5 {
	padding: 5em;
}

.p-4 {
	padding: 4em;
}

.p-3 {
	padding: 3em;
}

.p-2 {
	padding: 2em;
}

.p-1 {
	padding: 1em;
}

.mt-5 {
	margin-top: 5em;
}

.mt-4 {
	margin-top: 4em;
}

.mt-3 {
	margin-top: 3em;
}

.mt-2 {
	margin-top: 2em;
}

.mt-1 {
	margin-top: 1em;
}

.mb-5 {
	margin-bottom: 5em;
}

.mb-4 {
	margin-bottom: 4em;
}

.mb-3 {
	margin-bottom: 3em;
}

.mb-2 {
	margin-bottom: 2em;
}

.mb-1 {
	margin-bottom: 1em;
}

.ml-5 {
	margin-left: 5em;
}

.ml-4 {
	margin-left: 4em;
}

.ml-3 {
	margin-left: 3em;
}

.ml-2 {
	margin-left: 2em;
}

.ml-1 {
	margin-left: 1em;
}

.mr-5 {
	margin-right: 5em;
}

.mr-4 {
	margin-right: 4em;
}

.mr-3 {
	margin-right: 3em;
}

.mr-2 {
	margin-right: 2em;
}

.mr-1 {
	margin-right: 1em;
}

.m-5 {
	margin: 5em;
}

.m-4 {
	margin: 4em;
}

.m-3 {
	margin: 3em;
}

.m-2 {
	margin: 2em;
}

.m-1 {
	margin: 1em;
}

@media screen and (min-width: 1151px) and (max-width: 1350px) {
	.pt-5 {
		padding-top: 4.5em;
	}

	.pt-4 {
		padding-top: 3.6em;
	}

	.pt-3 {
		padding-top: 2.7em;
	}

	.pt-2 {
		padding-top: 1.8em;
	}

	.pt-1 {
		padding-top: 0.9em;
	}

	.pb-5 {
		padding-bottom: 4.5em;
	}

	.pb-4 {
		padding-bottom: 3.6em;
	}

	.pb-3 {
		padding-bottom: 2.7em;
	}

	.pb-2 {
		padding-bottom: 1.8em;
	}

	.pb-1 {
		padding-bottom: 0.9em;
	}

	.pl-5 {
		padding-left: 4.5em;
	}

	.pl-4 {
		padding-left: 3.6em;
	}

	.pl-3 {
		padding-left: 2.7em;
	}

	.pl-2 {
		padding-left: 1.8em;
	}

	.pl-1 {
		padding-left: 0.9em;
	}

	.pr-5 {
		padding-right: 4.5em;
	}

	.pr-4 {
		padding-right: 3.6em;
	}

	.pr-3 {
		padding-right: 2.7em;
	}

	.pr-2 {
		padding-right: 1.8em;
	}

	.pr-1 {
		padding-right: 0.9em;
	}

	.p-5 {
		padding: 4.5em;
	}

	.p-4 {
		padding: 3.6em;
	}

	.p-3 {
		padding: 2.7em;
	}

	.p-2 {
		padding: 1.8em;
	}

	.p-1 {
		padding: 0.9em;
	}

	.mt-5 {
		margin-top: 4.5em;
	}

	.mt-4 {
		margin-top: 3.6em;
	}

	.mt-3 {
		margin-top: 2.7em;
	}

	.mt-2 {
		margin-top: 1.8em;
	}

	.mt-1 {
		margin-top: 0.9em;
	}

	.mb-5 {
		margin-bottom: 4.5em;
	}

	.mb-4 {
		margin-bottom: 3.6em;
	}

	.mb-3 {
		margin-bottom: 2.7em;
	}

	.mb-2 {
		margin-bottom: 1.8em;
	}

	.mb-1 {
		margin-bottom: 0.9em;
	}

	.ml-5 {
		margin-left: 4.5em;
	}

	.ml-4 {
		margin-left: 3.6em;
	}

	.ml-3 {
		margin-left: 2.7em;
	}

	.ml-2 {
		margin-left: 1.8em;
	}

	.ml-1 {
		margin-left: 0.9em;
	}

	.mr-5 {
		margin-right: 4.5em;
	}

	.mr-4 {
		margin-right: 3.6em;
	}

	.mr-3 {
		margin-right: 2.7em;
	}

	.mr-2 {
		margin-right: 1.8em;
	}

	.mr-1 {
		margin-right: 0.9em;
	}

	.m-5 {
		margin: 4.5em;
	}

	.m-4 {
		margin: 3.6em;
	}

	.m-3 {
		margin: 2.7em;
	}

	.m-2 {
		margin: 1.8em;
	}

	.m-1 {
		margin: 0.9em;
	}
}

@media screen and (min-width: 901) and (max-width: 1150px) {
	.pt-5 {
		padding-top: 4em;
	}

	.pt-4 {
		padding-top: 3.2em;
	}

	.pt-3 {
		padding-top: 2.4em;
	}

	.pt-2 {
		padding-top: 1.6em;
	}

	.pt-1 {
		padding-top: 0.8em;
	}

	.pb-5 {
		padding-bottom: 4em;
	}

	.pb-4 {
		padding-bottom: 3.2em;
	}

	.pb-3 {
		padding-bottom: 2.4em;
	}

	.pb-2 {
		padding-bottom: 1.6em;
	}

	.pb-1 {
		padding-bottom: 0.8em;
	}

	.pl-5 {
		padding-left: 4em;
	}

	.pl-4 {
		padding-left: 3.2em;
	}

	.pl-3 {
		padding-left: 2.4em;
	}

	.pl-2 {
		padding-left: 1.6em;
	}

	.pl-1 {
		padding-left: 0.8em;
	}

	.pr-5 {
		padding-right: 4em;
	}

	.pr-4 {
		padding-right: 3.2em;
	}

	.pr-3 {
		padding-right: 2.4em;
	}

	.pr-2 {
		padding-right: 1.6em;
	}

	.pr-1 {
		padding-right: 0.8em;
	}

	.p-5 {
		padding: 4em;
	}

	.p-4 {
		padding: 3.2em;
	}

	.p-3 {
		padding: 2.4em;
	}

	.p-2 {
		padding: 1.6em;
	}

	.p-1 {
		padding: 0.8em;
	}

	.mt-5 {
		margin-top: 4em;
	}

	.mt-4 {
		margin-top: 3.2em;
	}

	.mt-3 {
		margin-top: 2.4em;
	}

	.mt-2 {
		margin-top: 1.6em;
	}

	.mt-1 {
		margin-top: 0.8em;
	}

	.mb-5 {
		margin-bottom: 4em;
	}

	.mb-4 {
		margin-bottom: 3.2em;
	}

	.mb-3 {
		margin-bottom: 2.4em;
	}

	.mb-2 {
		margin-bottom: 1.6em;
	}

	.mb-1 {
		margin-bottom: 0.8em;
	}

	.ml-5 {
		margin-left: 4em;
	}

	.ml-4 {
		margin-left: 3.2em;
	}

	.ml-3 {
		margin-left: 2.4em;
	}

	.ml-2 {
		margin-left: 1.6em;
	}

	.ml-1 {
		margin-left: 0.8em;
	}

	.mr-5 {
		margin-right: 4em;
	}

	.mr-4 {
		margin-right: 3.2em;
	}

	.mr-3 {
		margin-right: 2.4em;
	}

	.mr-2 {
		margin-right: 1.6em;
	}

	.mr-1 {
		margin-right: 0.8em;
	}

	.m-5 {
		margin: 4em;
	}

	.m-4 {
		margin: 3.2em;
	}

	.m-3 {
		margin: 2.4em;
	}

	.m-2 {
		margin: 1.6em;
	}

	.m-1 {
		margin: 0.8em;
	}
}

@media screen and (min-width: 601px) and (max-width: 900px) {
	.pt-5 {
		padding-top: 3.5em;
	}

	.pt-4 {
		padding-top: 2.8em;
	}

	.pt-3 {
		padding-top: 2.1em;
	}

	.pt-2 {
		padding-top: 1.4em;
	}

	.pt-1 {
		padding-top: 0.7em;
	}

	.pb-5 {
		padding-bottom: 3.5em;
	}

	.pb-4 {
		padding-bottom: 2.8em;
	}

	.pb-3 {
		padding-bottom: 2.1em;
	}

	.pb-2 {
		padding-bottom: 1.4em;
	}

	.pb-1 {
		padding-bottom: 0.7em;
	}

	.pl-5 {
		padding-left: 3.5em;
	}

	.pl-4 {
		padding-left: 2.8em;
	}

	.pl-3 {
		padding-left: 2.1em;
	}

	.pl-2 {
		padding-left: 1.4em;
	}

	.pl-1 {
		padding-left: 0.7em;
	}

	.pr-5 {
		padding-right: 3.5em;
	}

	.pr-4 {
		padding-right: 2.8em;
	}

	.pr-3 {
		padding-right: 2.1em;
	}

	.pr-2 {
		padding-right: 1.4em;
	}

	.pr-1 {
		padding-right: 0.7em;
	}

	.p-5 {
		padding: 3.5em;
	}

	.p-4 {
		padding: 2.8em;
	}

	.p-3 {
		padding: 2.1em;
	}

	.p-2 {
		padding: 1.4em;
	}

	.p-1 {
		padding: 0.7em;
	}

	.mt-5 {
		margin-top: 3.5em;
	}

	.mt-4 {
		margin-top: 2.8em;
	}

	.mt-3 {
		margin-top: 2.1em;
	}

	.mt-2 {
		margin-top: 1.4em;
	}

	.mt-1 {
		margin-top: 0.7em;
	}

	.mb-5 {
		margin-bottom: 3.5em;
	}

	.mb-4 {
		margin-bottom: 2.8em;
	}

	.mb-3 {
		margin-bottom: 2.1em;
	}

	.mb-2 {
		margin-bottom: 1.4em;
	}

	.mb-1 {
		margin-bottom: 0.7em;
	}

	.ml-5 {
		margin-left: 3.5em;
	}

	.ml-4 {
		margin-left: 2.8em;
	}

	.ml-3 {
		margin-left: 2.1em;
	}

	.ml-2 {
		margin-left: 1.4em;
	}

	.ml-1 {
		margin-left: 0.7em;
	}

	.mr-5 {
		margin-right: 3.5em;
	}

	.mr-4 {
		margin-right: 2.8em;
	}

	.mr-3 {
		margin-right: 2.1em;
	}

	.mr-2 {
		margin-right: 1.4em;
	}

	.mr-1 {
		margin-right: 0.7em;
	}

	.m-5 {
		margin: 3.5em;
	}

	.m-4 {
		margin: 2.8em;
	}

	.m-3 {
		margin: 2.1em;
	}

	.m-2 {
		margin: 1.4em;
	}

	.m-1 {
		margin: 0.7em;
	}
}

@media screen and (max-width: 600px) {
	.pt-5 {
		padding-top: 3em;
	}

	.pt-4 {
		padding-top: 2.4em;
	}

	.pt-3 {
		padding-top: 1.8em;
	}

	.pt-2 {
		padding-top: 1.2em;
	}

	.pt-1 {
		padding-top: 0.6em;
	}

	.pb-5 {
		padding-bottom: 3em;
	}

	.pb-4 {
		padding-bottom: 2.4em;
	}

	.pb-3 {
		padding-bottom: 1.8em;
	}

	.pb-2 {
		padding-bottom: 1.2em;
	}

	.pb-1 {
		padding-bottom: 0.6em;
	}

	.pl-5 {
		padding-left: 3em;
	}

	.pl-4 {
		padding-left: 2.4em;
	}

	.pl-3 {
		padding-left: 1.8em;
	}

	.pl-2 {
		padding-left: 1.2em;
	}

	.pl-1 {
		padding-left: 0.6em;
	}

	.pr-5 {
		padding-right: 3em;
	}

	.pr-4 {
		padding-right: 2.4em;
	}

	.pr-3 {
		padding-right: 1.8em;
	}

	.pr-2 {
		padding-right: 1.2em;
	}

	.pr-1 {
		padding-right: 0.6em;
	}

	.p-5 {
		padding: 3em;
	}

	.p-4 {
		padding: 2.4em;
	}

	.p-3 {
		padding: 1.8em;
	}

	.p-2 {
		padding: 1.2em;
	}

	.p-1 {
		padding: 0.6em;
	}

	.mt-5 {
		margin-top: 3em;
	}

	.mt-4 {
		margin-top: 2.4em;
	}

	.mt-3 {
		margin-top: 1.8em;
	}

	.mt-2 {
		margin-top: 1.2em;
	}

	.mt-1 {
		margin-top: 0.6em;
	}

	.mb-5 {
		margin-bottom: 3em;
	}

	.mb-4 {
		margin-bottom: 2.4em;
	}

	.mb-3 {
		margin-bottom: 1.8em;
	}

	.mb-2 {
		margin-bottom: 1.2em;
	}

	.mb-1 {
		margin-bottom: 0.6em;
	}

	.ml-5 {
		margin-left: 3em;
	}

	.ml-4 {
		margin-left: 2.4em;
	}

	.ml-3 {
		margin-left: 1.8em;
	}

	.ml-2 {
		margin-left: 1.2em;
	}

	.ml-1 {
		margin-left: 0.6em;
	}

	.mr-5 {
		margin-right: 3em;
	}

	.mr-4 {
		margin-right: 2.4em;
	}

	.mr-3 {
		margin-right: 1.8em;
	}

	.mr-2 {
		margin-right: 1.2em;
	}

	.mr-1 {
		margin-right: 0.6em;
	}

	.m-5 {
		margin: 3em;
	}

	.m-4 {
		margin: 2.4em;
	}

	.m-3 {
		margin: 1.8em;
	}

	.m-2 {
		margin: 1.2em;
	}

	.m-1 {
		margin: 0.6em;
	}
}

/* TEXT SIZING */

.h-1 {
	font-size: 6em;
}

.h-2 {
	font-size: 5em;
}

.h-3 {
	font-size: 4em;
}

.h-4 {
	font-size: 3em;
}

.h-5 {
	font-size: 2em;
}

.h-6 {
	font-size: 1.5em;
}

@media screen and (min-width: 1151px) and (max-width: 1350px) {
	.h-1 {
		font-size: 5.5em;
	}

	.h-2 {
		font-size: 4.6em;
	}

	.h-3 {
		font-size: 3.6em;
	}

	.h-4 {
		font-size: 2.7em;
	}

	.h-5 {
		font-size: 1.8em;
	}

	.h-6 {
		font-size: 1.3em;
	}
}

@media screen and (min-width: 901px) and (max-width: 1150px) {
	.h-1 {
		font-size: 5em;
	}

	.h-2 {
		font-size: 4.1em;
	}

	.h-3 {
		font-size: 3.3em;
	}

	.h-4 {
		font-size: 2.4em;
	}

	.h-5 {
		font-size: 1.6em;
	}

	.h-6 {
		font-size: 1.1em;
	}
}

@media screen and (min-width: 601px) and (max-width: 900px) {
	.h-1 {
		font-size: 4.5em;
	}

	.h-2 {
		font-size: 3.7em;
	}

	.h-3 {
		font-size: 3em;
	}

	.h-4 {
		font-size: 2.2em;
	}

	.h-5 {
		font-size: 1.5em;
	}

	.h-6 {
		font-size: 1em;
	}
}

@media screen and (max-width: 600px) {
	.h-1 {
		font-size: 4em;
	}

	.h-2 {
		font-size: 3.3em;
	}

	.h-3 {
		font-size: 2.6em;
	}

	.h-4 {
		font-size: 1.9em;
	}

	.h-5 {
		font-size: 1.3em;
	}

	.h-6 {
		font-size: 0.9em;
	}
}