* {
	padding: 0px;
	margin: 0px;
	font-family: Imperfecta;
	z-index: 2;
}

body {
	overflow-x: hidden;
}

li {
	list-style-type: none;
}

a, a:active, a:hover {
	color: black;
	text-decoration: none;
}

main {
	position: relative;
}

.section {
	width: 100%;
	min-height: 100vh;
	display: flex;
	position: relative; 
}

.v-delimiter {
	width: 1px;
	background-color: black;
}

.spaced {
	display: block;
	min-height: 100%;
	width: 100%;
	bottom:0;
	top:0;
	left:0;
	right:0;
	padding: 3.5em;
}


#about > .spaced {
	padding-right: 0px;		
}

@media screen and (min-width: 1151px) and (max-width: 1350px) {
	.spaced {
		padding: 2.9em;
	}
}

@media screen and (min-width: 901px) and (max-width: 1150px) {
	.spaced {
		padding: 2.4em;
	}
}

@media screen and (min-width: 601px) and (max-width: 900px) {
	.spaced {
		padding: 2em;
	}
}

@media screen and (min-width: 451px) and (max-width: 600px) {
	.spaced {
		padding: 1.6em;
	}
}

@media screen and (max-width: 450px) {
	.spaced {
		padding: 1.3em;
	}
}

img.fill {
	background-size: cover;
	height: 100%
}

p.justify {
	text-align: justify;
}

span.highlight {
	color: #f1c40f;
	text-decoration: underline;
}

.align-left {
	text-align: left;
}

.padding {
	padding: 5px 10px 5px 10px;
}

.margin {
	margin: 5px 10px 5px 0px;
}

/* DISPLAY */

.flex, .flex-col, .flex-row {
	display: flex;
	flex-wrap: nowrap;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.flex-item-fill {
	flex: 1 1 auto;
}

.flex-item-auto {
	flex: 0 1 auto;
}

.flex-end {
	justify-content: flex-end;
}

.flex-center {
	justify-content: center;
}

.flex-between {
	justify-content: space-between;
}

.flex-wrap {
	flex-wrap: wrap !important;
}

.flex-around {
	justify-content: space-around;
}

.col-1 {
	flex: 1;
}

.col-2 {
	flex: 2;
}

.col-3 {
	flex: 3;
}

.col-4 {
	flex: 4;
}

.flex-grow {
	flex-grow: 1;
}

.inline-block {
	display: inline-block;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.relative {
	position: relative;
}

/* BACKGROUND */

.bg-emerald {
	background-color: #2ecc71;
}

.bg-alizarin {
	background-color: #e74c3c;
}

.bg-river {
	background-color: #3498db;
}

.bg-sun {
	background-color: #f1c40f;
}

.bg-midnight {
	background-color: #2c3e50;
}

/* TEXT COLOR */

.text-emerald {
	color: #2ecc71;
}

.text-alizarin {
	color: #e74c3c;
}

.text-river {
	color: #3498db;
}

.text-sun {
	color: #f1c40f;
}

.text-midnight {
	color: #2c3e50;
}

/* ARROWS */

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #f00;
}

/* LINKS */

a.btn {
	display: inline-block;
	font-size: 2.3em;
	padding: 8px 20px;
}

a.btn.btn-primary {
	background-color: #3498db;
	color: white;
}

a.btn.btn-success {
	background-color: #2ecc71;
	color: white;
}

a.btn.btn-danger {
	background-color: #e74c3c;;
	color: white;
}

p > a {
	color: #3498db;
}

/* FORM */

form {
	position: relative;
}

.form-control, .form-group {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.form-control {
	display: flex;
	flex-direction: column;
	position: relative;
}

.form-group-inline {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	column-gap: 20px;
}

.form-group-inline > .form-control {
	flex: 1;
}

.form-control > label {
	font-size: 1.5em;
}

.form-control > input, .form-control > textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	border: 2px solid #E1E1E1;
	transition: 0.5s all ease;
}

.form-control > input[type="text"], .form-control > textarea {
	padding-left: 0.5em;
	font-size: 1.5em;
}

.form-control > input:hover, .form-control > textarea:hover {
	border-color: #AAAAAA;
}

.focus-border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #3399FF;
	transition: 0.4s;
}

.form-control > input[type="text"]:focus ~ .focus-border{
	width: 100%;
	transition: 0.4s;
}

.form-control > input[type="text"] {
	height: 1.5em;
}

.form-control > textarea {
	padding-top: 0.2em;
	resize: none;
}

.form-control > textarea:focus {
	border-color: #3399FF;
}

.form-control > input::placeholder, .form-control > textarea::placeholder {
	color: rgb(120,120,120);
}

input[type="submit"] {
	height: 1.5em;
	background-color: #3498db;
	color: white;
	font-size: 1.5em;
	border: 3px solid #3498db;
	padding: 0px 0.5em;
	transition: 0.5s all ease;
}

input[type="submit"]:hover {
	border-color: #2570a2;
	background-color: #2570a2;
	cursor: pointer;
}

/* CONTACT LINKS */

.contact-link a {
	color: white;
}

/* ANIMATIONS */

.fade-in, .fade-in-left, .fade-in-right, .fade-in-top, .fade-in-bottom {
	opacity: 0 !important;
} 

.fade-in-left, .slide-left {
	left: -20px !important;
}

.fade-in-right, .slide-right {
	right: -20px !important;
}

.fade-in-top, .slide-top {
	top: -20px !important;
}

.fade-in-bottom, .slide-bottom {
	bottom: -20px !important;
}

.expand {
	width: 0px !important;
	padding: 0px !important;
}

.animate {
	width: default;
	position: relative;
	opacity: 1;
	transition: 0.5s all ease;
}

.delay {
	animation-delay: 2s;
}