#main-menu {
	position: fixed;
	margin-left: 1%;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#main-menu li {
	margin-top: 5px;
	margin-bottom: 5px;
}

nav {
	position: fixed;
}

